:root {
    --header-font: 'Host Grotesk', sans-serif;
    --body-font: 'Host Grotesk', sans-serif;
    --background-color1: rgb(0, 0, 112);
    --background-color2: rgb(186, 231, 231);
    --background-color3: rgb(229, 229, 236);
    --text-color1: white;
    --text-color2: black;
    --primary-accent: rgb(0, 123, 255);
    --secondary-accent: rgba(0, 123, 255, 0.1);
}