:root {
    --header-font: 'Host Grotesk', sans-serif;
    --body-font: 'Host Grotesk', sans-serif;
    --background-color1: #eacfa9;
    --background-color2: #f8861b;
    --background-color3: rgb(229, 229, 236);
    --text-color1: #0a0a0a;
    --text-color2: #fcf8f8;
}

footer {
    background-color: var(--background-color3);
    padding: 1rem;
    font-size: smaller;
    text-align: center;
}

.footerNav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    background-color: var(--background-color3);
    align-items: center;
}

.footerNav img {
    width: 30px;
    transition: transform 0.3s ease;
}

.footerNav img:hover {
    transform: scale(1.2);
}