:root {
    --header-font: 'Poppins', sans-serif;
    --body-font: 'Montserrat', sans-serif;
    --background-color1: #eacfa9;
    --background-color2: #03078c;
    --background-color3: rgb(229, 229, 236);
    --text-color1: #0a0a0a;
    --text-color2: #fcf8f8;
}

header {
    background-color: var(--background-color2);
    color: var(--text-color2);
}

main {
    background-color: var(--background-color1);
    color: var(--text-color1);
}

h1, h2, h3, h4 {
    font-family: var(--header-font);
}

body {
    font-family: var(--body-font);
}

footer {
    background-color: var(--background-color3);
    padding: 1rem;
    font-size: smaller;
    text-align: center;
}

.footerNav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
}

.footerNav img {
    width: 30px;
    transition: transform 0.3s ease;
}

.footerNav img:hover {
    transform: scale(1.2);
}

@media (min-width: 38rem) {
    .footerNav {
        display: flex;
        justify-content: center;
        background-color: var(--background-color3);
        gap: 3rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        text-align: left;
    }
}
